/* Universal Styles */
html{
  color:  grey;
  font-size: 16px;

}

h1,h2,h3,h4{
  font-weight: bold;
  color: black;
  padding: 1rem;
}


h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2{
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3{
  font-size: 1.5rem;
}

a{
  text-decoration: none;
}

.button{

  padding: 1rem 2rem;
  color: white;
  background-color: black;
  text-align: center;
  width: 50%;
  margin: 1rem auto;
}

/*Header Section */
header{
  display: flex;
  z-index: 1;
  width: 100%;
  align-items: center;
  height: 4rem;
  background-color: white;
  border: 1px solid black;
}

header .logo{
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  height: 2rem;
  }

header .desktop{
  margin-right: 1rem;
}

header .desktop a{
  padding: 0 0.5rem;
  float: right;
  color: black;
}
header .mobile{
  display: none;
}


/* Hero Section */

.hero{
  display: flex;
  background-color: lightgray;
  align-items: center;

}

.hero img{
  position: relative;
  width: 60%;
  margin: 2rem 1.5rem;
}

.herotext{
    position: relative;
    z-index: 1;
}

/*Information Section */

.information{
  border: 2px solid black;
  display: flex;
  align-items: center;
}

.informationhero{
  border: 2px solid black;
  width: 60%;
  margin: 0 1.5rem;
}


.information img{
  width:100%;
  }

.informationoptions{
  display: block;
  width: 40%;
  border: 2px solid black;
  margin-top: 2rem;
}
.option{
  display: flex;
  align-items: center;
  text-align: left;
  border: 2px solid black;
}
.option img{
  width: 35%;
  margin: 1rem 1rem;
}

.option .link{
  color:blue;
  font-weight: bold;
}
.imgmobile{
  display: none;
}

/* Start Learning Section */

.startlearning{
  background-color: lightgray;
  text-align: center;
  width: 100%;
}

.class{
  display: inline-block;
  background-color: white;
  width: 25%;
  text-align: left;
  margin: 1rem 2rem;
}

.class img{
  width: 100%;
  height:auto;
}

/* Thesis Exhibit Section */

.thesis{
  display: flex;
  border: 1px solid black;
  }

.thesisvideo{
  width: 60%;
}

.thesisvideo video{
  width:100%;
}

.exhibitblock{
  width: 40%;
  display: block;
}
